@import "tailwindcss";
@theme {
  --animate-appear-then-fade: appear-then-fade 4s forwards;

  @keyframes appear-then-fade {
    0% {
      opacity: 0;
      transform: translateY(-1rem);
    }
    5%, 85% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-1rem);
      visibility: hidden;
      pointer-events: none;
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
      border: none;
    }
  }
}

@layer components {
  .btn-primary {
    @apply inline-flex items-center justify-center rounded-md bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition duration-150;
  }

  .btn-secondary {
    @apply inline-flex items-center justify-center rounded-md bg-white px-4 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 transition duration-150;
  }

  .btn-danger {
    @apply inline-flex items-center justify-center rounded-md bg-red-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 transition duration-150;
  }

  .form-input {
    @apply block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  }

  .card {
    @apply bg-white p-8 shadow-sm ring-1 ring-gray-900/5 rounded-xl border border-slate-200;
  }

  .h1 {
    @apply text-3xl font-extrabold tracking-tight text-slate-900 sm:text-4xl mt-2 mb-2;
  }
}
