<div class="w-full max-w-5xl mx-auto">
  <div class="mb-8 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">
    <div class="flex items-center justify-between gap-4 mb-8">
      <h1 class="h1">My Lists</h1>
      <p class="mt-2 text-lg text-slate-600">Curate and share your custom reading recommendations.</p>
    </div>
    <%= link_to "New List", new_recommendation_list_path, data: { turbo_frame: "recommendation_list_form"}, class: "btn-primary" %>
  </div>

  <%= turbo_frame_tag "recommendation_list_form", class: "block w-full max-w-3xl mx-auto mb-8" %>

  <% if @lists.any? %>
    <div id="recommendation_lists" class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <% @lists.each do |list| %>
        <%= render "list_card", list: list %>
      <% end %>
    </div>
  <% else %>
    <div class="text-center card py-12">
      <p class="text-slate-500 text-sm">You haven't created any custom lists yet.</p>
    </div>
  <% end %>
</div>
