<div class="w-full max-w-md mx-auto py-6">
  <div class="card">
    <h1 class="h1 mb-6 text-center">Sign Up</h1>
    <%= render "form", user: @user %>
    <p class="mt-6 text-center text-sm text-gray-500">
      Already have an account?
      <%= link_to "Sign in", new_session_path, class: "font-semibold leading-6 text-indigo-600 hover:text-indigo-500" %>
    </p>
  </div>
</div>
